{% load humanize %}
<div>
	<div>
		<a href="{% url 'detail' post.pk post.slug %}"><img src="{{ post.thumbnail.url }}" class="thumbnail_image"></a>
	</div>
	<div>
		<a href="{% url 'detail' post.pk post.slug %}" class="black-text">
			<div class="article_title">
			{{ post.title|truncatechars:40 }}
		</div>
		</a>
	</div>
	<div>
		<a href="{% url 'diary' post.user.pk %}" class="grey-text lighten-1">
			<div class="article_time">
			{{ post.published_at|naturalday  }}
			</div>
		</a>
	</div>
</div>