{% extends 'base.html' %}
{% block content %}
<div class="valign-wrapper">
  <div class="valign">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">500 &#8901; Server error</span>
              <div class="card_message">
								<div>Sorry. It's not you. It's us. We're experiencing an internal server problem. please try again later.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock %}
