<div id="first_load">
	<div class="category_title">Information</div>
	<div class="aticle_content">
		{% for post in posts %}
			{% if post.choice == 'information' %}
				{% include 'includes/post.html' %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="category_title">Lifestyle</div>
	<div class="aticle_content">
		{% for post in posts %}
			{% if post.choice == 'lifestyle' %}
				{% include 'includes/post.html' %}
			{% endif %}
		{% endfor %}
		<input type="hidden" id="lifestyle">
	</div>
</div>
<div id="second_load">
	<div class="category_title">Review</div>
	<div class="aticle_content">
		{% for post in posts %}
			{% if post.choice == 'review' %}
				{% include 'includes/post.html' %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="category_title">Thought</div>
	<div class="aticle_content">
		{% for post in posts %}
			{% if post.choice == 'thought' %}
				{% include 'includes/post.html' %}
			{% endif %}
		{% endfor %}
	</div>
</div>
