{% extends 'base.html' %}
{% block body %}
{% if validlink %}
<div class="valign-wrapper">
  <div class="valign">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Reset Password</span>
              <form method="post" autocomplete="off" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}    
                <button class="btn red lighten-1 right" type="submit"  name="action">next</button>
              </form>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
{% else %}
<div class="valign-wrapper">
  <div class="valign">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Reset Password</span>
              <div class="card_message">
                It looks like you clicked on an invalid password reset link. Please try again.
              </div>
              <div class="link_accounts">
                <a href="{% url 'password_reset' %}">Request a new password reset link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
{% endif %}
{% endblock %}